* {
    color: purple;
  }
  
  /* styles.css */

div {
    color: white;
  }
  
  /* styles.css */

.alert-text {
    color: red;
  }
  
  /* styles.css */

#title {
    background-color: red;
  }

  /* styles.css */

div {
    color: white;
    background-color: black;
  }
  
  p {
    color: red;
  }
  